@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&family=Play:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  font-family: "Play", sans-serif;
}

/* - - - - - INICIO DEL HEADER - - - - - */
.header-content {
  background-color: #232323;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
}
.header-content .logo {
  margin-left: 100px;
}
.header-content .logo .logo-text {
  text-decoration: none;
}
.header-content .logo h1 {
  font-size: 40px;
  color: white;
}
.header-content .logo h1 a {
  color: white;
  text-decoration: none;
}
.header-content .logo h1 a b {
  font-size: 40px;
  color: rgb(190, 157, 10);
}
.header-content .menu {
  display: flex;
  align-items: center;
}
.header-content .menu .nav-link {
  color: white;
  font-size: 25px;
  text-decoration: none;
  margin: 0 15px;
  padding: 5px 15px;
  border-radius: 5px;
}
.header-content .menu .nav-link:hover {
  color: white;
  background-color: rgb(190, 157, 10);
}
.header-content .menu nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}
.header-content .menu nav ul li {
  text-decoration: none;
}

/* - - - - - - - - - - FIN DEL HEADER - - - - - - - - - - */
/*- - - - - INICIO DEL FOOTER - - - - -*/
.footer {
  background-color: #232323;
  padding: 5px;
}
.footer .footer-content {
  margin: 0px 15px;
  display: flex;
  justify-content: center;
}
.footer .footer-content .footer-categories {
  text-decoration: none;
}
.footer .footer-content .footer-categories .footer-link {
  color: white;
  font-size: 30px;
  text-decoration: none;
  margin: 0px 15px;
  display: flex;
  align-items: end;
  padding: 5px 15px;
  border-radius: 5px;
}
.footer .footer-content .footer-categories .footer-link:hover {
  color: white;
  background-color: rgb(190, 157, 10);
}
.footer ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}
.footer ul li {
  text-decoration: none;
}
.footer .sub-footer .p-footer {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.footer .sub-footer .p-footer .pfooter {
  color: white;
  font-size: 20px;
  margin: 10px 5px;
}

/* Estilos generales */
body {
  margin: 0;
  padding: 0;
}

main {
  overflow: hidden;
  /* Formulario Main */
}
main .imagen img {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  object-position: bottom;
}
main .titulo {
  background-color: #232323;
  color: rgb(190, 157, 10);
  margin: 50px;
  padding: 30px;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  border-radius: 10px;
}
main .container-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
main .container-main .card {
  width: 30%;
  margin-bottom: 20px;
  background-color: #232323;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
}
main .container-main .card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}
main .container-main .card h4 {
  font-size: 35px;
  color: white;
  margin-bottom: 15px;
}
main .container-main .card p {
  font-size: 25px;
  color: white;
  margin-bottom: 25px;
}
main .container-main .card a {
  text-decoration: none;
  color: rgb(190, 157, 10);
  font-weight: bold;
}
main .container-main .card a:hover {
  color: white;
}
main .titulo-formulario-main {
  display: flex;
  justify-content: center;
  margin: 50px;
}
main .titulo-formulario-main h3 {
  background-color: #232323;
  color: rgb(190, 157, 10);
  width: 100%;
  padding: 30px;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  border-radius: 10px;
}
main .formulario-main {
  border-radius: 10px;
  display: flex;
  justify-content: center;
  background-color: #232323;
  padding: 50px;
  margin: 30px 30px;
}
main .formulario-main .form-check-label {
  color: white;
}

section .mapita iframe {
  width: 100%;
  max-height: 300px;
}

.titulon h2 {
  background-color: #232323;
  color: rgb(190, 157, 10);
  margin: 50px;
  padding: 30px;
  font-weight: bold;
  text-align: center;
  border-radius: 10px;
}
.titulon p {
  background-color: #232323;
  font-size: 25px;
  font-weight: bold;
  color: white;
  text-align: center;
  margin: 25px 55px;
  border-radius: 10px;
  padding: 25px;
}

.carousel-size {
  max-width: 60%;
  margin: 0 auto;
}
.carousel-size .carousel-item img {
  object-fit: cover;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.parrafo-abajo h2 {
  background-color: #232323;
  color: rgb(190, 157, 10);
  margin: 50px;
  padding: 30px;
  font-weight: bold;
  text-align: center;
  border-radius: 10px;
}
.parrafo-abajo p {
  background-color: #232323;
  font-size: 25px;
  font-weight: bold;
  color: white;
  text-align: center;
  margin: 25px 55px;
  border-radius: 10px;
  padding: 25px;
}

/* - - - - - - - - - - PRODUCTOS - - - - - - - - - - */
.imagen-productos img {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  object-position: bottom;
}

.barra-busqueda {
  display: flex;
  justify-content: flex-end;
}

.sector-productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.productos {
  width: 30%;
  margin-bottom: 20px;
  background-color: #232323;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
}
.productos img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}
.productos h4 {
  font-size: 35px;
  color: white;
  margin-bottom: 15px;
}
.productos p {
  font-size: 25px;
  color: white;
  margin-bottom: 25px;
}
.productos a {
  text-decoration: none;
  color: rgb(190, 157, 10);
  font-weight: bold;
}
.productos a:hover {
  color: white;
}

/* - - - - - - - - - - BLOG - - - - - - - - - */
.titulo-blog {
  background-color: #232323;
  color: rgb(190, 157, 10);
  margin: 50px;
  padding: 30px;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  border-radius: 10px;
}

.contenedor-blog {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}

.blog-card {
  display: flex;
  background-color: rgb(219, 219, 219);
  border-radius: 10px;
  padding: 10px;
  overflow: hidden;
  flex-direction: column;
}

.image img {
  max-width: 100%;
  height: auto;
}

.content-blog {
  padding: 20px;
}

.content-blog h4 {
  font-size: 20px;
  margin-bottom: 10px;
}

.content-blog p {
  font-size: 16px;
  margin-bottom: 10px;
}

.content-blog a {
  display: inline-block;
  background-color: #232323;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none;
}

.blog-card h4 {
  font-size: 35px;
  color: #232323;
  margin-bottom: 15px;
}

.blog-card p {
  font-size: 25px;
  color: #232323;
  margin-bottom: 25px;
}

.blog-card a {
  text-decoration: none;
  color: rgb(190, 157, 10);
  font-weight: bold;
}

.blog-card a:hover {
  color: #232323;
}

/* - - - - - - - - - - CONTACTO - - - - - - - - - */
.titulo-form {
  background-color: #232323;
  color: rgb(190, 157, 10);
  margin: 50px;
  padding: 30px;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  border-radius: 10px;
}

.container-form {
  width: 100%;
  max-width: 1100px;
  margin: auto;
  margin-bottom: 170px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
  margin-top: 90px;
}

.container-form h2 {
  background-color: #232323;
  color: white;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  margin-bottom: 15px;
  font-size: 35px;
  padding: 15px 0;
}

.container-form p {
  font-size: 17px;
  line-height: 1.6;
  margin-bottom: 30px;
}

.container-form a {
  font-size: 17px;
  display: inline-block;
  text-decoration: none;
  width: 100%;
  margin-bottom: 15px;
  color: #232323;
  font-weight: bold;
}

.container-form a i {
  color: #232323;
  margin-right: 10px;
}

.container-form form .campo,
.container-form form textarea {
  width: 100%;
  padding: 15px 10px;
  font-size: 15px;
  border: 1px solid;
  margin-bottom: 20px;
  border-radius: 10px;
  outline: 0px;
}

.container-form form textarea {
  max-width: 530px;
  min-width: 530px;
  min-height: 140px;
  max-height: 150px;
}

.container-form .btn-enviar {
  padding: 15px;
  font-size: 20px;
  border: none;
  outline: 0px;
  background: #232323;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  transition: all 300ms ease;
}

.container-form .btn-enviar:hover {
  color: white;
  background-color: rgb(190, 157, 10);
}

/*# sourceMappingURL=style.css.map */
