/* - - - - - - - - - - BLOG - - - - - - - - - */
.titulo-blog {
    background-color: $color-primario;
    color: $color-secundario;
    margin: 50px;
    padding: 30px;
    @include texto("center", "bold");
    font-size: 30px;
    border-radius: 10px;
}

.contenedor-blog {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}

.blog-card {
    display: flex;
    background-color: rgb(219, 219, 219);
    border-radius: 10px;
    padding: 10px;
    overflow: hidden;
    flex-direction: column;
}

.image img {
    max-width: 100%;
    height: auto;
}

.content-blog {
    padding: 20px;
}

.content-blog h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.content-blog p {
    font-size: 16px;
    margin-bottom: 10px;
}

.content-blog a {
    display: inline-block;
    background-color: $color-primario;
    color: $color-auxiliar;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
}

.blog-card h3 {
    font-size: 35px;
    color: $color-primario;
    margin-bottom: 15px;
}

.blog-card p {
    font-size: 25px;
    color: $color-primario;
    margin-bottom: 25px;
}

.blog-card a {
    text-decoration: none;
    color: $color-secundario;
    font-weight: bold;
}

.blog-card a:hover {
    color: $color-primario;
}