/* - - - - - - - - - - BLOG - - - - - - - - - */

.titulo-blog{
    background-color: #232323;
    color:rgb(190, 157, 10);
    margin: 50px;
    padding: 30px;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    border-radius: 10px;
}

.contenedor-blog {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}

.blog-card {
    display: flex;
    background-color: rgb(219, 219, 219);
    padding: 10px;
    border-radius: 10px;
    overflow: hidden;
    flex-direction: column;
}

.image img {
    max-width: 100%;
    height: auto;
}

.content-blog {
    padding: 20px;
}

.content-blog h4 {
    font-size: 20px;
    margin-bottom: 10px;
}

.content-blog p {
    font-size: 16px;
    margin-bottom: 10px;
}

.content-blog a {
    display: inline-block;
    background-color: #232323;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
}

.blog-card h4 {
    font-size: 35px;
    color: #232323;
    margin-bottom: 15px;
}

.blog-card p {
    font-size: 25px;
    color: #232323;
    margin-bottom: 25px;
}

.blog-card a {
    text-decoration: none;
    color: rgb(190, 157, 10);
    font-weight: bold;
}

.blog-card a:hover {
    color: #232323;
}
/* - - - - - - - - - - MEDIA QUERIES BLOG - - - - - - - - - */
                    @media screen and (max-width: 1024px) {
                        .blog-card h4 {
                            font-size: 30px;
                            margin-bottom: 10px;
                        }

                        .blog-card p {
                            font-size: 20px;
                            margin-bottom: 15px;
                        }
                    }
                    /* - - - - - - - - - - BLOG TABLET - - - - - - - - - -*/
                    @media screen and (max-width: 768px) {
                        .contenedor-blog {
                            grid-template-columns: 1fr;
                        }

                        .blog-card {
                            flex-direction: row;
                        }

                        .image {
                            width: 40%;
                        }

                        .content-blog {
                            width: 60%;
                            padding: 10px;
                        }

                        .content-blog h4 {
                            font-size: 18px;
                        }

                        .content-blog p {
                            font-size: 14px;
                        }

                        .blog-card h4 {
                            font-size: 30px;
                            margin-bottom: 10px;
                        }

                        .blog-card p {
                            font-size: 18px;
                            margin-bottom: 15px;
                        }
                    }
                    /* - - - - - - - - - - BLOG MOBILE - - - - - - - - - -*/
                    @media screen and (max-width: 480px) {
                        .contenedor-blog {
                            grid-template-columns: 1fr;
                        }

                        .blog-card {
                            flex-direction: column;
                        }

                        .image {
                            width: 100%;
                        }

                        .content-blog {
                            width: 100%;
                            padding: 10px;
                        }

                        .blog-card h4 {
                            font-size: 25px;
                            margin-bottom: 10px;
                        }

                        .blog-card p {
                            font-size: 16px;
                            margin-bottom: 15px;
                        }
                    }
/*- - - - - - - - - - FIN MEDIA QUERIES BLOG - - - - - - - - - -*/