section {
  .mapita {
    iframe {
      width: 100%;
      max-height: 300px;
    }
  }
}

.titulon {
  h1 {
    background-color: $color-primario;
    color: $color-secundario;
    margin: 50px;
    padding: 30px;
    @include texto("center", "bold");
    border-radius: 10px;
  }

  p {
    background-color: $color-primario;
    font-size: 25px;
    @include texto("center", "bold");
    color: $color-auxiliar;
    margin: 25px 55px;
    border-radius: 10px;
    padding: 25px;
  }
}

.carousel-size {
  max-width: 60%;
  margin: 0 auto;

  .carousel-item img {
    object-fit: cover;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
}

.parrafo-abajo {
  h3 {
    background-color: $color-primario;
    color: $color-secundario;
    margin: 50px;
    padding: 30px;
    @include texto("center", "bold");
    border-radius: 10px;
  }

  p {
    background-color: $color-primario;
    font-size: 25px;
    @include texto("center", "bold");
    color: $color-auxiliar;
    margin: 25px 55px;
    border-radius: 10px;
    padding: 25px;
  }
}