/*- - - - - INICIO DEL FOOTER - - - - -*/
.footer {
  background-color: $color-primario;
  padding: 5px;

  .footer-content {
    margin: 0px 15px;
    display: flex;
    justify-content: center;

    .footer-categories {
      text-decoration: none;

      .footer-link {
        color: $color-auxiliar;
        font-size: 30px;
        text-decoration: none;
        margin: 0px 15px;
        display: flex;
        align-items: end;
        padding: 5px 15px;
        border-radius: 5px;
        &:hover {
          color: $color-auxiliar;
          background-color: $color-secundario;
        }
      }
    }
  }

  ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;

    li {
      text-decoration: none;
    }
  }

  .sub-footer {
    .p-footer {
      display: flex;
      justify-content: center;
      margin-top: 30px;

      .pfooter {
        color: $color-auxiliar;
        font-size: 20px;
        margin: 10px 5px;
      }
    }
  }
}