/* - - - - - INICIO DEL HEADER - - - - - */
.header-content {
    background-color: $color-primario;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
  
    .logo {
      margin-left: 100px;
  
      .logo-text {
        text-decoration: none;
      }
  
      h2 {
        font-size: 40px;
        color: $color-auxiliar;
  
        a {
          color: $color-auxiliar;
          text-decoration: none;
  
          b {
            font-size: 40px;
            color: $color-secundario;
          }
        }
      }
    }
  
    .menu {
      display: flex;
      align-items: center;
  
      .nav-link {
        color: $color-auxiliar;
        font-size: 25px;
        text-decoration: none;
        margin: 0 15px;
        padding: 5px 15px;
        border-radius: 5px;
  
        &:hover {
          color: $color-auxiliar;
          background-color: $color-secundario;
        }
      }
  
      nav ul {
        list-style: none;
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
  
        li {
          text-decoration: none;
        }
      }
    }
  }
/* - - - - - - - - - - FIN DEL HEADER - - - - - - - - - - */